#sidebar.collapse.show {
            width: 250px;
        }

        #main-container {
            transition: all 0.3s ease;
        }

        .btn-toggle-sidebar {
            margin-bottom: 1rem;
            display: inline-block;
        }